<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#demo"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_33-min.jpg?v=1686192073"
                alt="Kaagapay mo sa pagsisikap. Pangmatagalan."
                class="d-block"
                style="width:100%"
                width=""
                height=""
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h2 class="text-uppercase">
                    Kaagapay mo <br>
                    sa pagsisikap. <br>
                    Pangmatagalan.
                  </h2>
                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_37-min.jpg?v=1686192073"
                alt="Motolite, your trusted ally to power long haul use."
                class="d-block"
                style="width:100%"
                width="100%"
                height="100%"
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h2 class="text-uppercase">
                    Your trusted <br>
                    ally to power <br>
                    long haul use.
                  </h2>

                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_38-min.jpg?v=1686192073"
                alt="Motolite, the Philippines’ authority in all battery-related requirements."
                class="d-block"
                style="width:100%"
                width=""
                height=""
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h1>
                    the Philippines’ <br>
                    authority in <br>
                    all battery-<br>
                    related <br>
                    requirements.
                  </h1>
                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_35-min.jpg?v=1686192073"
                alt="Providing you options for all your battery needs."
                class="d-block"
                style="width:100%"
                width=""
                height=""
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h2 class="text-uppercase">
                    Providing you <br>
                    options for all <br>
                    your battery <br>
                    needs.
                  </h2>

                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_34-min.jpg?v=1686192073"
                alt="Motolite’s batteries are built for the country’s terrain and road conditions."
                class="d-block"
                style="width:100%"
                width=""
                height=""
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h2 class="text-uppercase">
                    built for the <br>
                    country’s <br>
                    terrain and <br>
                    road conditions.
                  </h2>
                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Rectangle_36-min.jpg?v=1686192073"
                alt="Oriental and Motolite Marketing Corporation."
                class="d-block"
                style="width:100%"
                width=""
                height=""
              >
              <div class="carousel-caption d-none d-md-block">
                <div class="content-box">
                  <h2 class="text-uppercase">
                    your reliable <br>
                    source for all <br>
                    your marine <br>
                    needs.
                  </h2>

                  <div class="btn-btn">
                    <a href="{{ section.settings.order_now_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6077 0.920105C8.39852 0.920105 6.60766 2.71096 6.60766 4.9201H3.67828C1.8482 4.9201 0.366254 6.50117 0.639544 8.34923L2.11833 18.3492C2.34029 19.8502 3.65693 20.9201 5.15707 20.9201H16.0581C17.5583 20.9201 18.8749 19.8502 19.0969 18.3492L20.5757 8.34923C20.849 6.50117 19.367 4.9201 17.5369 4.9201H14.6077C14.6077 2.71096 12.8168 0.920105 10.6077 0.920105ZM12.6077 4.9201C12.6077 3.81553 11.7123 2.9201 10.6077 2.9201C9.50306 2.9201 8.60766 3.81553 8.60766 4.9201H12.6077ZM14.3603 10.7616C14.724 11.1772 14.6818 11.809 14.2662 12.1727L10.2662 15.6727C9.86996 16.0194 9.27286 15.9995 8.90056 15.6272L6.90055 13.6272C6.51003 13.2367 6.51003 12.6035 6.90055 12.213C7.29108 11.8225 7.92424 11.8225 8.31477 12.213L9.65326 13.5515L12.9492 10.6675C13.3648 10.3038 13.9966 10.346 14.3603 10.7616Z" fill="white"></path>
                      </svg>
                      Order Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @font-face {
    font-family: 'Aganè';
    src: url('https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Agane_C_75_Extra_Bold.ttf?v=1686194319');
  }
  #demo .carousel-inner .carousel-caption {
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    height: 100%;
    justify-content: end;
    align-items: center;
    display: flex !important;
    width: 100%;
    max-width: 75%;
  }
  #demo .carousel-inner .carousel-caption h2,
  h1 {
    text-align: left;
    font-size: 3.5vw;
    text-shadow: 6px 5px 20px black;
    font-family: 'Aganè';
    font-style: normal;
    font-weight: 800;
    line-height: 3.5vw;
    text-transform: uppercase;
    color: #fff;
  }

  .snip1527 figcaption a {
    position: unset !important;
    color: #212529;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.25px;
    text-decoration: none;
    padding: 12px 16px;
    background: #f8c606;
    display: none;
  }

  .snip1527 figcaption a:hover {
    background: #212529;
    color: #fff;
  }

  .snip1527 figcaption {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #demo .carousel-item .btn-btn {
    width: 100%;
    max-width: 200px;
    min-height: 46px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: var(--CTA-1, linear-gradient(180deg, #dc3545 0%, #450007 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #demo .carousel-item .btn-btn a {
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.625px; 
    letter-spacing: 0.66px;
    padding: 10px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  #demo .carousel-item .content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Order Now Button",
  "settings": [
    {
      "type": "text",
      "id": "order_now_url",
      "label": "Order Now Button URL",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Order Now Button"
    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function () {
    (function () {
      initializeCarousels();
      initializeContactForm();
    })();

    function initializeCarousels() {
      let extraSmallScreenMediaQuery = window.matchMedia('(max-width: 575px)');
      let smallScreenMediaQuery = window.matchMedia('(min-width: 576px) and (max-width: 767px)');
      let mediumScreenMediaQuery = window.matchMedia('(min-width: 768px) and (max-width: 991px)');
      let largeScreenMediaQuery = window.matchMedia('(min-width: 992px)');

      (function () {
        extraSmallScreenMediaMatched(extraSmallScreenMediaQuery);
        extraSmallScreenMediaQuery.addListener(extraSmallScreenMediaMatched);

        smallScreenMediaMatched(smallScreenMediaQuery);
        smallScreenMediaQuery.addListener(smallScreenMediaMatched);

        mediumScreenMediaMatched(mediumScreenMediaQuery);
        mediumScreenMediaQuery.addListener(mediumScreenMediaMatched);

        largeScreenMediaMatched(largeScreenMediaQuery);
        largeScreenMediaQuery.addListener(largeScreenMediaMatched);
      })();

      function carousel(elementId, numberOfItemsToDisplay) {
        let element = $(`#${elementId}`);
        let previousButton = element.find('.custom-carousel-previous-button');
        let nextButton = element.find('.custom-carousel-next-button');
        let items = element.find('.custom-carousel-item');
        let previousItemIndex = -1;
        let nextItemIndex = numberOfItemsToDisplay;

        for (let i = 0; i < items.length; i++) {
          if (i < numberOfItemsToDisplay) {
            $(items[i]).removeClass('d-none');
          } else {
            $(items[i]).addClass('d-none');
          }
        }

        previousButton.off();
        previousButton.click(function () {
          if (previousItemIndex >= 0) {
            $(items[--nextItemIndex]).addClass('d-none');
            $(items[previousItemIndex]).removeClass('d-none');

            previousItemIndex--;
          }
        });

        nextButton.off();
        nextButton.click(function () {
          if (nextItemIndex < items.length) {
            $(items[++previousItemIndex]).addClass('d-none');
            $(items[nextItemIndex]).removeClass('d-none');

            nextItemIndex++;
          }
        });
      }

      function extraSmallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 1);
          carousel('servicesCarousel', 1);
          carousel('advantagesCarousel', 1);
        }
      }

      function smallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 1);
          carousel('servicesCarousel', 1);
          carousel('advantagesCarousel', 2);
        }
      }

      function mediumScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 2);
          carousel('servicesCarousel', 2);
          carousel('advantagesCarousel', 3);
        }
      }

      function largeScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel('batteryCategoryCarousel', 3);
          carousel('servicesCarousel', 3);
          carousel('advantagesCarousel', 4);
        }
      }
    }

    function initializeContactForm() {
      const emptyOrWhitespacesStringPattern = /^\s*$/;

      let contactUsForm = $('#contact_form');
      let emailAddressInput = contactUsForm.find('#email');
      let emailAddressInputErrorMessage = emailAddressInput.siblings('.input-error-message');
      let contactNumberInput = contactUsForm.find('#contact_number');
      let contactNumberInputErrorMessage = contactNumberInput.siblings('.input-error-message');

      (function () {
        contactUsForm.find('#contact_form_submit').click(function () {
          emailAddressInputErrorMessage.text('');
          contactNumberInputErrorMessage.text('');

          let emailAddressValidationResult = validateEmailAddress(emailAddressInput.val());

          if (!emailAddressValidationResult.isValid) {
            emailAddressInputErrorMessage.text(emailAddressValidationResult.errorMessage);
          }

          let contactNumberValidationResult = validateContactNumber(contactNumberInput.val());

          if (!contactNumberValidationResult.isValid) {
            contactNumberInputErrorMessage.text(contactNumberValidationResult.errorMessage);
          }

          if (emailAddressValidationResult.isValid && contactNumberValidationResult.isValid) {
            contactUsForm.submit();
          }
        });
      })();

      function validateEmailAddress(emailAddress) {
        if (emptyOrWhitespacesStringPattern.test(emailAddress)) {
          return { isValid: false, errorMessage: 'Email Address is required.' };
        }

        if (!/^[^\s@]+@[^\s@]+\.[^\s@]+/.test(emailAddress)) {
          return { isValid: false, errorMessage: 'Invalid email address.' };
        }

        return { isValid: true };
      }

      function validateContactNumber(contactNumber) {
        if (emptyOrWhitespacesStringPattern.test(contactNumber)) {
          return { isValid: false, errorMessage: 'Contact Number is required.' };
        }

        if (!/^[0-9]*$/.test(contactNumber)) {
          return { isValid: false, errorMessage: 'Invalid Contact Number.' };
        }

        return { isValid: true };
      }
    }
  });
</script>
