<script type="text/javascript">

      window.ymConfig = {"bot":"x1722944534597","host":"https://r3.cloud.yellow.ai"};

    (function() {

        var w = window,

            ic = w.YellowMessenger;

        if ("function" === typeof ic) ic("reattach_activator"), ic("update", ymConfig);

        else {

            var d = document,

                i = function() {

                    i.c(arguments)

                };

            function l() {

                var e = d.createElement("script");

                e.type = "text/javascript", e.async = !0, e.src = "https://cdn.yellowmessenger.com/plugin/widget-v2/latest/dist/main.min.js";

                var t = d.getElementsByTagName("script")[0];

                t.parentNode.insertBefore(e, t)

            }

            i.q = [], i.c = function(e) {

                i.q.push(e)

            }, w.YellowMessenger = i, w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)}

    })();

    </script>

{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
 {{ 'motolite-footer.css' | asset_url | stylesheet_tag }}
  {{ 'footer_new.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<link rel="stylesheet" href="{{ 'hotlines.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'global.css' | asset_url }}">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfEtYshAAAAAMF9zt0FC4G81pQZuSWg_ytTf0kC"></script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6LfEtYshAAAAAMF9zt0FC4G81pQZuSWg_ytTf0kC', {action: 'login'}).then(function(token) {
       ...
    });
});
</script>


      <section class="hotlines-banner">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content">
            <div class="text">
              <h1>Reach Out to Our Official Motolite Hotlines</h1>
              <p>
                Call our Motolite Official Hotlines for fast, reliable battery delivery and expert installation. Get quick and safe road assistance, all with just one call!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="reach-us global-padding">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="content">
            <div class="text">
              <h2>Reach Us Anytime with Our Dedicated Hotlines</h2>
              <p>
                Our official hotlines are open 24/7 for quick assistance in
                Metro Manila and Metro Cebu. Just call, and our team will guide
                you through getting the right battery support for your needs,
                rain or shine.
              </p>
            </div>
            <div class="hotlines-con">
              <div class="hotlines-details">
                <h3>Motolite NCR Hotlines</h3>
                <div class="card-con">
    <div class="card">
        <div class="hotlines-number">
            <p>Globe</p>
            <a href="tel:0917-891-6686" class="cta-hotlines">0917-891-6686</a>
        </div>
    </div>
    <div class="card">
        <div class="hotlines-number">
            <p>Smart</p>
            <a href="tel:0918-843-6686" class="cta-hotlines">0918-843-6686</a>
        </div>
    </div>
    <div class="card">
        <div class="hotlines-number">
            <p>Landline</p>
            <a href="tel:02-8370-6686" class="cta-hotlines">(02) 8370-6686</a>
        </div>
    </div>
    <div class="card">
        <div class="hotlines-number">
            <p>Provincial</p>
            <a href="tel:1-800-10-370-6686" class="cta-hotlines">1-800-10-370-6686</a>
        </div>
    </div>
</div>

              </div>
              <div class="hotlines-details">
                <h3>Motolite Cebu Hotlines</h3>

                <div class="card-con">

    <div class="card">
        <div class="hotlines-number">
            <p>Globe</p>
            <a href="tel:0966-048-1862" class="cta-hotlines">0966-048-1862</a>
        </div>
    </div>
    <div class="card">
        <div class="hotlines-number">
            <p>Smart</p>
            <a href="tel:0962-637-6639" class="cta-hotlines">0962-637-6639</a>
        </div>
    </div>
    <div class="card">
        <div class="hotlines-number">
            <p>Landline</p>
            <a href="tel:032-517-6686" class="cta-hotlines">032-517-6686</a>
        </div>
    </div>
</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-us">
      <div class="text">
        <h2>Get in Touch with Us</h2>
        <p>
          We're here to ensure a hassle-free battery replacement experience
          whenever you need it.
        </p>
      </div>
      <div class="contact-form-con">
         
      
        {% form 'contact' %}
        <div class="text-semibold-25 lh-25">Contact Us</div>

        <div class="margin-top-20">
          <input type="text" name="contact[email]" id="email" placeholder="Email" class="custom-input" style="width: 100%;"/>
          <div class="margin-top-5 text-regular-13 lh-1 text-color-D22429 input-error-message"></div>
        </div>

        <input type="text" name="contact[name]" placeholder="Name" class="margin-top-20 margin-bottom-5 custom-input" style="width: 100%;"/>

        <div class="margin-top-20">
          <input type="text" name="contact[contact_number]" id="contact_number" placeholder="Contact Number" class="custom-input" style="width: 100%;"/>
          <div class="margin-top-5 text-regular-13 lh-1 text-color-D22429 input-error-message"></div>
        </div>

<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfEtYshAAAAAMF9zt0FC4G81pQZuSWg_ytTf0kC"></script>
<script>
grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('6LfEtYshAAAAAMF9zt0FC4G81pQZuSWg_ytTf0kC', {action: 'login'}).then(function(token) {
       ...
    });
});
</script>

        <div id="re-captcha"></div>
        <textarea name="contact[message]" placeholder="Message" class="margin-top-20 custom-input" style="width: 100%; height: 125px;"></textarea>
        {% if form.posted_successfully? %}
        <div class="padding-5-10 margin-top-20 text-center bg-color-99ffbb">
          <a href="https://motolitestore.myshopify.com/pages/thank-you"></a>
          <!--
          <span class="material-icons align-middle">task_alt</span>
          <span class="margin-left-5 text-regular-14 align-middle">Sent Successfully</span>
        </div>-->
        </div>
        {% else %}
        {% if form.error.size > 0 %}
        <div class="padding-5-10 margin-top-20 text-center bg-color-ff9999">
          <span class="material-icons align-middle text-color-424242">error_outline</span>
          <span class="margin-left-5 text-regular-14 align-middle">An Unknown Error Occured</span>
        </div>
        {% endif %}
        {% endif %}
        <button type="button" id="contact_form_submit" class="margin-top-20 custom-button">Send</button>
        {% endform %}
    
      
      </div>
    </section>

    <section class="footer">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer_content">
                            <a href="">
                              <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/motolite_footer_logo.png?v=1738027365" alt="Motolite Pangmatagalan">
                            </a>
                            <p>Motolite Batteries are proudly manufactured by Philippine Batteries Inc., one of the
                                largest manufacturers, exporters and distributors of automotive, motorcycle, and
                                industrial battery products and solutions in the Asia-Pacific Region.</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="menus">
                            <div class="top_menu">
                                <div class="quick_links">
                                    <span class="yellow_text">Links</span>
                                    <a href="https://www.motolite.com/pages/faq" target="_blank" rel="noopener noreferrer">FAQs</a>
                                    <a href="https://www.motolite.com/pages/Privacy" target="_blank" rel="noopener noreferrer">PRIVACY</a>
                                </div>
                                <div class="contact_us_on">
                                    <span class="yellow_text">Contact Us On</span>
                                    <a href="https://www.facebook.com/motoliteexpresshatid/" target="_blank" rel="noopener noreferrer">Facebook</a>
                                    <a href="https://x.com/Motolite_Ph" target="_blank" rel="noopener noreferrer">Twitter</a>
                                    <a href="https://x.com/Motolite_Ph" target="_blank" rel="noopener noreferrer">Instagram</a>
                                </div>
                                <div class="but_also_on">
                                    <span class="yellow_text">Buy Also On</span>
                                    <a href="https://www.lazada.com.ph/shop/motolite/?spm=a2o4l.10450891.search.1.42423d88B0V5iU&_keyori=ss&from=suggest_sis&sis_suggestion_click=Motolite%20Flagship%20Store%2Cmotolite&sugg=motolite_0_1" target="_blank" rel="noopener noreferrer">
                                        <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/Lazada.png?v=1738027364" alt="Lazada">
                                        <span>Lazada</span>
                                    </a>
                                </div>
                                <div class="oriental_and_motolite">
                                    <span class="yellow_text">Oriental and Motolite Marketing Corporation</span>
                                    <p>Ramcar Center 80-82 Roces Ave. Diliman, Q.C. Philippines</p>
                                </div>
                            </div>
                            <div class="bottom_menu">
                                <div class="motolute_express">
                                    <span class="yellow_text">Motolite Express Hatid Hotlines</span>
                                    <a href="tel:0917-891-6686"><span class="yellow_text">Globe</span>:
                                        0917-891-6686</a>
                                    <a href="tel:0918-843-6686"><span class="yellow_text">Smart</span>:
                                        0918-843-6686</a>
                                    <a href="tel:02-8370-6686"><span class="yellow_text">NCR</span>: (02)
                                        8370-6686</a>
                                    <a href="tel:1-800-10-370-6686"><span class="yellow_text">Provincial</span>:
                                        1-800-10-370-6686</a>
                                </div>
                                <div class="motolite_cebu_hotline">
                                    <span class="yellow_text">Motolite Cebu Hotlines</span>
                                    <a href="tel:0966-048-1862"><span class="yellow_text">Globe</span>:
                                        0966-048-1862</a>
                                    <a href="tel:032-517-6686"><span class="yellow_text">Landline</span>:
                                        032-517-6686</a>
                                    <a href="tel:0962-637-6639"><span class="yellow_text">Smart</span>:
                                        0962-637-6639</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="dpo_dps">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/image_1.png?v=1737604749" alt="">
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <img src="https://cdn.shopify.com/s/files/1/0615/7982/1304/files/image_1.png?v=1737604749" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



       

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
<!--  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size = block.settings.image_width | append: 'x' -%}
                      <img
                        srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}

        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for country in localization.available_countries -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                          {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for language in localization.available_languages -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                          {{ language.endonym_name | capitalize }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div>-->

   
</footer>

<script>
  $(document).ready(function () {
    (function() {
      initializeCarousels();
      initializeContactForm();
    })();
    
    function initializeCarousels() {
      let extraSmallScreenMediaQuery = window.matchMedia("(max-width: 575px)");
      let smallScreenMediaQuery = window.matchMedia("(min-width: 576px) and (max-width: 767px)");
      let mediumScreenMediaQuery = window.matchMedia("(min-width: 768px) and (max-width: 991px)");
      let largeScreenMediaQuery = window.matchMedia("(min-width: 992px)");
    
      (function () {
        extraSmallScreenMediaMatched(extraSmallScreenMediaQuery);
        extraSmallScreenMediaQuery.addListener(extraSmallScreenMediaMatched);
      
        smallScreenMediaMatched(smallScreenMediaQuery);
        smallScreenMediaQuery.addListener(smallScreenMediaMatched);
      
        mediumScreenMediaMatched(mediumScreenMediaQuery);
        mediumScreenMediaQuery.addListener(mediumScreenMediaMatched);
      
        largeScreenMediaMatched(largeScreenMediaQuery);
        largeScreenMediaQuery.addListener(largeScreenMediaMatched);
      })();
    
      function carousel(elementId, numberOfItemsToDisplay) {
        let element = $(`#${elementId}`);
        let previousButton = element.find(".custom-carousel-previous-button");
        let nextButton = element.find(".custom-carousel-next-button");
        let items = element.find(".custom-carousel-item");
        let previousItemIndex = -1;
        let nextItemIndex = numberOfItemsToDisplay;
      
        for (let i = 0; i < items.length; i++) {
          if (i < numberOfItemsToDisplay) {
            $(items[i]).removeClass("d-none");
          }
          else {
            $(items[i]).addClass("d-none");
          }
        }
      
        previousButton.off();
        previousButton.click(function() {
          if (previousItemIndex >= 0) {
            $(items[--nextItemIndex]).addClass("d-none");
            $(items[previousItemIndex]).removeClass("d-none");
        
            previousItemIndex--;
          }
        });
    
        nextButton.off();
        nextButton.click(function() {
          if (nextItemIndex < items.length) {
            $(items[++previousItemIndex]).addClass("d-none");
            $(items[nextItemIndex]).removeClass("d-none");
      
            nextItemIndex++;
          }
        });
      }
    
      function extraSmallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel("batteryCategoryCarousel", 1);
          carousel("servicesCarousel", 1);
          carousel("advantagesCarousel", 1);
        }
      }
    
      function smallScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel("batteryCategoryCarousel", 1);
          carousel("servicesCarousel", 1);
          carousel("advantagesCarousel", 2);
        }
      }
    
      function mediumScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel("batteryCategoryCarousel", 2);
          carousel("servicesCarousel", 2);
          carousel("advantagesCarousel", 3);
        }
      }
    
      function largeScreenMediaMatched(mediaQueryList) {
        if (mediaQueryList.matches) {
          carousel("batteryCategoryCarousel", 3);
          carousel("servicesCarousel", 3);
          carousel("advantagesCarousel", 4);
        }
      }
    }
    
    function initializeContactForm() {
      const emptyOrWhitespacesStringPattern = /^\s*$/;
      
      let contactUsForm = $("#contact_form");
      let emailAddressInput = contactUsForm.find("#email");
      let emailAddressInputErrorMessage = emailAddressInput.siblings(".input-error-message");
      let contactNumberInput = contactUsForm.find("#contact_number");
      let contactNumberInputErrorMessage = contactNumberInput.siblings(".input-error-message");
      
      (function() {
        contactUsForm.find("#contact_form_submit").click(function() {
          emailAddressInputErrorMessage.text("");
          contactNumberInputErrorMessage.text("");
          
          let emailAddressValidationResult = validateEmailAddress(emailAddressInput.val());
          
          if (!emailAddressValidationResult.isValid) {
            emailAddressInputErrorMessage.text(emailAddressValidationResult.errorMessage);
          }
          
          let contactNumberValidationResult = validateContactNumber(contactNumberInput.val());
          
          if (!contactNumberValidationResult.isValid) {
            contactNumberInputErrorMessage.text(contactNumberValidationResult.errorMessage);
          }
          
          if (emailAddressValidationResult.isValid && contactNumberValidationResult.isValid) {
            contactUsForm.submit();
          }
        });
      })();
      
      function validateEmailAddress(emailAddress) {
        if (emptyOrWhitespacesStringPattern.test(emailAddress)) {
          return { isValid: false, errorMessage: "Email Address is required." };
        }
        
        if (!/^[^\s@]+@[^\s@]+\.[^\s@]+/.test(emailAddress)) {
          return { isValid: false, errorMessage: "Invalid email address." };
        }
        
        return { isValid: true };
      }
      
      function validateContactNumber(contactNumber) {
        if (emptyOrWhitespacesStringPattern.test(contactNumber)) {
          return { isValid: false, errorMessage: "Contact Number is required." };
        }
        
        if (!/^[0-9]*$/.test(contactNumber)) {
          return { isValid: false, errorMessage: "Invalid Contact Number." };
        }
        
        return { isValid: true };
      }
    }
  });
</script>





<script>

  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
  
</script>

   



